<!doctype html>
<html lang="en">
    <head>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed">
        <title>{% block title %}{{ global.title }}{% endblock %}</title>
        {% comment %}{{ "app.css" | asset_url | stylesheet_tag }}{% endcomment %}
        {{ "reset.css" | asset_url | stylesheet_tag }}
        {{ "style.css" | asset_url | stylesheet_tag }}
        {% comment %}<link rel="stylesheet" href="{{ "layout.css" | asset_url }}" media="(min-width:1em)">{% endcomment %}
        {% comment %}{{ "modernizr.min.js" | asset_url | script_tag }}{% endcomment %}
        <script type="text/javascript">var __tcaExcludeHostedCss=true;</script>
        <script type="text/javascript" src="http://typecast.com/project_css/gavinwye/90693a65e910e.js"></script> 
    </head>
    <body>
        <!-- <div> -->
            {% include "header" %}
                <section>
                    {% block content %}{% endblock %}
                </section>
            {% include "footer" %}
        <!-- </div> -->
        {% comment %}{% include "analytics" %}{% endcomment %}
    </body>
</html>