<!doctype html>
<html lang="en">
    <head>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- <link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed"> -->
        <title>{% block title %}{{ global.title }}{% endblock %}</title>
        <!-- {{ "app.css" | asset_url | stylesheet_tag }} -->
        {{ "reset.css" | asset_url | stylesheet_tag }}
        {{ "style.css" | asset_url | stylesheet_tag }}
        <!-- {{ "modernizr.min.js" | asset_url | script_tag }} -->
        <script type="text/javascript" src="//use.typekit.net/wkq8avr.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <!-- <div> -->
            {% include "header" %}
            <!-- <div> -->
                <section>
                    <h1>{{ model.title }}</h1>
                    {% assign post = model %}
                    {% include "articles/date-tags" %}
                    {% block content %}{% endblock %}
                    <p><a href="http://twitter.com/?status=@gavinwye Re: {{ model.title }}">Discuss on Twitter</a></p>
                </section>
            <!-- </div> -->
            {% include "footer" %}
        <!-- </div> -->
        {% include "analytics" %}
    </body>
</html>
